{% extends 'layout.html' %}
{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-body d-flex flex-column align-items-center">
                    <h1 class="card-title">Mostrar Ventas</h1>
                    <form action="/ventas" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <div class="form-group">
                            <label for="dia_semana">Seleccionar día de la semana:</label>
                            <select id="dia_semana" name="dia_semana" class="form-control">
                                <option value="">Seleccione un día de la semana</option>
                                <option value="Monday">Lunes</option>
                                <option value="Tuesday">Martes</option>
                                <option value="Wednesday">Miércoles</option>
                                <option value="Thursday">Jueves</option>
                                <option value="Friday">Viernes</option>
                                <option value="Saturday">Sábado</option>
                                <option value="Sunday">Domingo</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="mes">Seleccionar mes:</label>
                            <select id="mes" name="mes" class="form-control">
                                <option value="">Seleccione un mes</option>
                                <option value="1">Enero</option>
                                <option value="2">Febrero</option>
                                <option value="3">Marzo</option>
                                <option value="4">Abril</option>
                                <option value="5">Mayo</option>
                                <option value="6">Junio</option>
                                <option value="7">Julio</option>
                                <option value="8">Agosto</option>
                                <option value="9">Septiembre</option>
                                <option value="10">Octubre</option>
                                <option value="11">Noviembre</option>
                                <option value="12">Diciembre</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Buscar</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <h1 class="text-center mb-4">Ventas</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Total</th>
                        <th scope="col">Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    {% for venta in ventas %}
                    <tr>
                        <td>{{ venta.nombre }}</td>
                        <td>{{ venta.total }}</td>
                        <td>{{ venta.fechaVenta }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td><b>Total de ventas: </b></td>
                        <td><b>{{ total_ventas }} </b></td>
                    </tr>
                    
                </tbody>
            </table>
            <div class="row justify-content-center">
                <div class="col-md-6 text-center">
                    <form action="/pedido" method="GET">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button type="submit" class="btn btn-warning">Volver</button>
                    </form>
                </div>
            </div>            
        </div>
    </div>
</div>
{% endblock %}
